<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Email</title>
</head>
<body>
<h2>Hello <span th:text="${name}">user</span>,</h2>
<p>Received your temporal password</p>
<p>With date: <strong th:text="${date}">date</strong> hrs.</p>
<p>Your new password is: <strong th:text="${password}">password</strong></p>
<p>It has a validity of 1 hour</p>
<p>Go to: <a href="https://www.google.cl" target="_blank" style="margin-left: auto;">Link</a> by change the password.</p>


<hr />
<footer style="text-align: center;">
  <img src="cid:footerImage" alt="Logo" style="width: 80px;"/>
  <p style="font-size: 12px; color: #888;">© 2025 naravenarpizza</p>
</footer>

</body>
</html>