<included>
    <property name="LOG_FILE" value="C:\logs\ms-users\dev\ms-users.log"/>

    <!-- Limitar verbosidad de Spring -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.beans.factory.support" level="WARN"/>
    <logger name="org.springframework.context.support" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <!--<logger name="org.springframework.boot.autoconfigure" level="DEBUG"/>-->

    <!-- Consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[DEV] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Archivo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/dev-app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[DEV] %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</included>